{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{% if primary %}
  <div class="row">
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <div class="col s12">
      <ul id="local-tasks" class="dropdown-content">
        {{ primary }}
      </ul>
      <a class="btn dropdown-button" href="#!" data-activates="local-tasks">{{ "Actions" |t }}<i
          class="mdi-navigation-arrow-drop-down right"></i></a>
    </div>
  </div>
{% endif %}
