{% extends '/core/themes/classy/templates/block/block.html.twig' %}
  {% block content %}
      <div class="super-awesome-class">{{ content }} <span class="drupal-version">8</span> </div>
  {% endblock %}