{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
    {% if content %}
        <div class="tabs-container" aria-label="{{ 'Tabs'|t }}">
            {{ content }}
        </div>
    {% endif %}
{% endblock %}