{% if page.header %}
    <div class="row l-header">
        <div class="col s12">
            {{ page.header }}
        </div>
    </div>
{% endif %}
{% if page.navigation %}
    <div class="row l-navigation">
        <div class="col s12">
            {{ page.navigation }}
        </div>
    </div>
{% endif %}
{% if page.content %}
    <div class="row l-content-full">
        <div class="col s12">
            {{ page.content }}
        </div>
    </div>
{% endif %}
{% if page.footer %}
    <div class="row l-footer">
        <div class="col s12">
            {{ page.footer }}
        </div>
    </div>
{% endif %}