$custom-color: color("teal", "lighten-2");
.mdi-navigation-menu:before {
  
}

#search-block-form {
  .input-field {
    margin-top: 1em;
  }
}

.search-form,
.search-block-form {
  overflow: hidden;
  input.form-search {
    width: calc(100% - 13em);
    float: left;
  }
  label {
    display: none;
  }
  input.form-submit {
    width: 8em;
    float: right;
    margin-top: .5em;
  }
}
.search-help-link {
  float: left;
  height: 30px;
  clear: both;
}

#block-d8-materialize-account-menu {
  text-align: right;
}

nav.breadcrumb,
nav.tabs {
  color: #000;
  background-color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: inherit;
  a {
    color: #000;
  }
}

nav.breadcrumb {
  line-height: initial;
  height: initial;
  margin: 20px 0 0 0;
  padding-bottom: 0;
  a {
    color: #9E9E9E;
  }
}
// Tabs.
.tabs {
  height: inherit;
  li.tab.active {
    a {
      background: $custom-color;
      color: #fff;
    }  
  }
  border-bottom: 2px solid $custom-color;
}
.indicator {
  display: none;
}

.row.l-navigation {
  margin-bottom: 0;
}
.node__submitted {
  margin: 20px 0;
}

.top-nav {
  height: auto;
}

nav.menu--main {
  box-shadow: none;
}

// tool-bar menu
.toolbar-lining {
  nav ul li {
    float: initial;
  }
}
// Toolbar menu fix.
li.menu-item.level-1 {
  float: initial;
}

// Row l-header
.row.l-header {
    margin-bottom: 0;
}

// Branding Block
.block-system-branding-block {
  margin-top: 20px;
  margin-bottom: 5px;
}
.site-name {
  line-height: initial;
  font-size: 2em;
}

// Footer
footer.page-footer {
  .menu--footer {
    a {
      color: #FFF;
    }
  }
}

// Forms
.description {
  margin-bottom: 30px;
  color: $custom-color;
}

.input-field {
  margin-top: 3rem;
  label {
    left: 0;
  }
}

.card-panel {
  .input-field {
    margin-top: 0;
  }
}

.field--type-image {
  label {
    display: none;
  }
}


